@import "variables";
@import url('https://fonts.cdnfonts.com/css/akrobat');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Akrobat Black', sans-serif;
	outline: none;
}

//flexbox container classes
.flex-container {
	display: flex;
	width: 100%;
	//debugging styles
	//border: 1px solid red;
}

.col-3 {
	width: 32.67%;
	margin-right: 1%;
}

.col-6 {
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	//border: 1px solid red;
}

.col-9
  //flex direction classes
.fd-row {
	flex-direction: row;
}

.fd-column {
	flex-direction: column;
}

.fd-row-reverse {
	flex-direction: row-reverse;
}

.fd-column-reverse {
	flex-direction: column-reverse;
}

//content alignment classes
.jc-right {
	justify-content: flex-end;
}

.jc-center {
	justify-content: center;
}

.jc-left {
	justify-content: flex-start;
}

.jc-sb {
	justify-content: space-between;
}

.js-sa {
	justify-content: space-around;
}

.ai-bottom {
	align-items: flex-end;
}

.ai-center {
	align-items: center;
}

.ai-top {
	align-items: flex-start;
}

//admin panel
.admin {
	height: 100vh;
	background-color: $grey;

	.not-allowed {
		height: 100%;
		padding-top: 2%;
		padding-bottom: 2%;

		.header {
			margin-bottom: 40px;

			img {
				width: 30%;
				height: auto;
				padding: 5px;
			}

			h1 {
				padding: 10px;
				color: white;
				font-size: 3em;
				text-align: center;
			}
		}

		input {
			width: 15vw;
			height: 8vh;
			padding-left: 3%;
			font-size: 1.5em;
			border-radius: 10px;
			margin-top: 3%;
		}

		button {
			width: 10vw;
			height: 5vh;
			font-size: 1.2em;
			margin-top: 3%;
			margin-bottom: 3%;
			background-color: black;
			color: $yellow;
			border: solid black 5px;
			border-radius: 50px;
		}

		button:hover {
			background-color: $grey;
		}

		.login-form {
			border: medium solid $yellow;
			border-radius: 20px;
		}
	}

	.allowed {
		.form {
			border: 1px solid $yellow;
			padding: 5px;
			height: 22vh;
			margin-top: 20px;

			label {
				margin-left: 1%;
				height: 50%;
				font-size: 2em;
				color: #ddd;
			}

			input,
			button {
				height: 25%;
				font-size: 1.2em;
				padding-left: 1%;
			}
		}

		.queue-number {
			color: white;
			margin-top: 3%;
			font-size: 1.5em;
			border: red;
		}

		.queue {
			height: 100vh !important;
			overflow: scroll;
		}
	}
}

//Full queue
.full-queue {
	min-height: 100vh;
	background-color: $grey;
	h1 {
		color: white;
		font-size: 3em;
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.link-wrap a {
		font-size: 1.3em;
		text-decoration: none;
		color: $yellow;
		margin-bottom: 1%;
	}
	.link-wrap a:hover {
		text-decoration: underline;
	}
	.num {
		font-size: 1.2em;
		color: white;
		margin-top: 10px;
	}
}

.queue-page {
	height: 100vh;
	background-color: $grey;
	color: white;
	.container {
		padding: 0 13%;
		background-color: #1d1d1d;
		h3 {
			font-size: 3.5em;
			line-height: 70px;
		}
		.logo-wrap {
			padding-top: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin-bottom: 10px;
			img {
				height: 25vh;
			}
		}
		.link-wrap {
			display: flex;
			justify-content: center;
		}

		.link-wrap a {
			text-decoration: none;
			font-size: 1.2em;
			color: #fbd130;
			margin-bottom: 10px;
		}

		.link-wrap:hover a {
			text-decoration: underline;
		}
		.table-wrap {
			position: relative;
			margin-top: 20px;
			display: flex;
			padding: 36px 0;
			margin-bottom: 10px;
			border-top: 2px dashed white;
			border-bottom: 2px dashed white;
			.table {
				display: flex;
				text-align: center;
				width: 40%;
				border-right: 2px dashed white;
				h4 {
					font-size: 3em;
					line-height: 100%;
				}
				.number {
					font-size: 6em;
					line-height: 100%;
					color: $yellow;
				}
			}
			.table:last-child {
				border-right: none;
				background: none;
			}
			.table.next h4 {
				color: #fbd130;
			}

			.table.next .number {
				color: #ffffff;
			}
		}
		.time p {
			font-size: 59px;
			line-height: 71px;
			text-align: center;
			color: #fff;
			margin-top: 20px;
			text-transform: uppercase;
		}

		.time p.mins {
			font-size: 64px;
			line-height: 77px;
			text-align: center;
			text-transform: none;
			color: #fbd130;
		}
		.audio {
			display: none;
		}
	}
}
//responsive
@media (min-width: $bp-laptop-l) {
	.admin {
		.not-allowed {
			.header {
				h1 {
					font-size: 5em;
				}
			}

			input {
				font-size: 3em;
			}

			button {
				font-size: 2.5em;
			}
		}

		.allowed {
			.form {
				label {
					font-size: 4em;
				}

				input,
				button {
					font-size: 2.5em;
				}
			}

			.queue-number {
				font-size: 3em;
			}
		}
	}
	.full-queue {
		h1 {
			font-size: 6em;
		}
		.link-wrap a {
			font-size: 2.5em;
		}
		.num {
			font-size: 3em;
		}
	}
	.queue-page {
		.container {
			.logo-wrap {
				h3 {
					margin-top: 2%;
					margin-bottom: 2%;
					font-size: 10em;
				}
			}
			.link-wrap a {
				font-size: 2em;
				margin-bottom: 5%;
			}
			.table-wrap {
				.table {
					h4 {
						font-size: 6em;
					}
					.number {
						font-size: 10em;
					}
				}
			}
		}
	}
}

@media (max-width: $bp-tablet) {
	.queue-page {
		.container {
			.table-wrap {
				.table {
					h4 {
						font-size: 36px;
					}
				}
			}
		}
	}
}

@media (max-width: $bp-mobile-l) {
	.admin {
		.not-allowed {
			.col-3 {
				width: 80%;
			}

			input {
				width: 50vw;
			}

			button {
				width: 30vw;
			}
		}

		.allowed {
			.form {
				label {
					font-size: 1.5em;
				}

				input,
				button {
					font-size: 1.4em;
				}
			}

			.queue-number {
				font-size: 2em;
			}
		}
	}
	.queue-page {
		.container {
			padding: 0 30px;
			h3 {
				padding-top: 20px;
				font-style: normal;
				font-size: 35.8807px;
				line-height: 43px;
			}
			.logo-wrap {
				padding-top: 18px;
				img {
					height: 100px;
				}
			}
			.table-wrap {
				position: relative;
				margin-top: 40px;
				flex-wrap: wrap;
				.table {
					border-right: 2px dashed white;
					border-left: 2px dashed white;
					width: 50%;
					background: none;
					text-align: left;
					border-right: none;
					h4 {
						margin-left: 7px;
						margin-top: 10px;
						font-size: 22px;
					}
					.number {
						margin-left: 7px;
						font-size: 75px;
						line-height: 75px;
					}
				}
				.mt {
					margin-top: 30px;
				}
				.table.next {
					margin-top: 0;
				}
				.table {
					border-right: 2px dashed white;
					border-left: 2px dashed white;
				}
				.table:last-child {
					border-right: 2px dashed white;
				}
			}

			.time p {
				font-size: 24px;
				line-height: 30px;
				text-align: center;
				color: #fff;
				margin-top: 30px;
				text-transform: uppercase;
			}

			.time p.mins {
				font-size: 28px;
				line-height: 30px;
				text-align: center;
				text-transform: none;
				color: #fbd130;
			}
		}
	}
}
