//breakpoints for media queries
$bp-mobile-s: 320px;
$bp-mobile-m: 375px;
$bp-mobile-l: 430px;
$bp-tablet: 769px;
$bp-laptop-s: 1024px;
$bp-laptop-m: 1440px;
$bp-laptop-l: 2559px;
//brandbook color variables
$yellow: #ffd300;
$grey: #1d1d1d;